@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#logo
{
  width: 20vw;
}

h1
{
  color: white;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#name
{
  color: rgb(202, 14, 152);
  font-size: 45px;
}
#va
{
  color: rgb(23, 221, 195);
  font-size: 45px;
}
#voice
{
  width: 350px;
display: none;
}
#btn
{
  width: 30%;
  background: linear-gradient(to right,rgb(23, 221, 195),rgb(202, 14, 152)) ;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  color: white;
  box-shadow: 2px 2px 10px rgb(23, 221, 195),2px 2px 10px rgb(202, 14, 152);
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

#btn:hover
{
    box-shadow: 2px 2px 20px rgb(23, 221, 195),2px 2px 20px rgb(202, 14, 152);
    letter-spacing: 2px;
}